.profile {
    background-image: url(img/profile-bg.svg);
    background-size: cover;
    background-color: rgba(226, 247, 237, 0.441);
}

html {
    scroll-behavior: smooth;
}

.project {
    background-color: rgb(139 155 193);
}
